.contA {
    background-repeat: no-repeat;
    background-attachment: fixed;
    @include animation(backgroundTV, 2s, alternate, 2, 0);
    background-image: url("../images/home/tverror3.jpg");
    .contA__image {
        height: 25%;
        width: 100%;
        .contA__image--logo {
            width: 100%;
            position: absolute;
            margin: auto;
        }
    }
    .home__ul {
        width: 100%;
        height: 25%;
        margin-top: 20px;
        @include flex(column, space-around);
        @include animation(showUp, 2s, alternate, 1, 2s);
        .home--linkA {
            @include animation(glitchText, 2s, alternate, infinite, 3s);
            @include font(PersonalUse, 1.5em, bolder, var(--colorSecondary));
        }
    }
    #logoBlue {
        @include animation(logoBlue, 5s, alternate, infinite,0);
    }

    #logoRed {
        @include animation(logoRed, 5s, alternate, infinite,0);
    }
}
