* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

@font-face {
    font-family: "lemon";
    src: url("../Fuentes/LEMONMILK-Regular.otf");
}
@font-face {
    font-family: "patron";
    src: url("../Fuentes/Patron\ -\ PersonalUse.otf");
}
@font-face {
    font-family: "consola";
    src: url("../Fuentes/CONSOLA.TTF");
}
/* V A R I A B L E S */
:root {
    --colorPrimary: #000;
    --colorSecondary: #f2f2f2;
}

/* M I X I N */
@mixin flex($direction, $justify) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: center;
}
@mixin animation($name, $time, $direction, $infinite, $delay) {
    animation-name: $name;
    animation-duration: $time;
    animation-iteration-count: $infinite;
    animation-direction: $direction;
    animation-delay: $delay;
    transition-timing-function: ease-in-out;
}
@mixin font($name, $size, $weight, $color) {
    font-family: $name;
    font-size: $size;
    font-weight: $weight;
    text-decoration: none;
    color: $color;
}
body {
    background-color: #000;
}
h1 {
    color: #f2f2f2;
    font-family: "patron", cursive;
    font-size: 1.8em;
    font-weight: bold;
    letter-spacing: 0.05em;
    @include animation(glitchText, 2s, alternate, infinite, 3s);
}
h5 {
    text-align: center;
    opacity: 0.2;
    @include font("patron", 1.2em, bold, var(--colorSecondary));
}
a,
ul,
li {
    list-style: none;
    text-decoration: none;
    font-family: "consola";
}
@import "contABC";
@import "mediaQuery";
@import "animaciones";
