* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: "lemon";
    src: url("../Fuentes/LEMONMILK-Regular.otf");
}
@font-face {
    font-family: "patron";
    src: url("../Fuentes/Patron\ -\ PersonalUse.otf");
}

body {
    background-color: #5d5c5c;
    padding: 0.8%;
}
.backgroundBody {
    background-color: #262525;
}
h1 {
    color: #f2f2f2;
    opacity: 0.4;
    font-family: "lemon", cursive;
    text-align: center;
    margin-top: 2%;
}
h2 {
    color: #f2f2f2;
}
h3 {
    color: #f2f2f2;
    font-family: "lemon", cursive;
    font-size: 1.6em;
    font-weight: bold;
    text-align: center;
}
h4 {
    color: #f2f2f2;
    font-family: "lemon", cursive;
    font-size: 1.4em;
    font-weight: bold;
    text-align: center;
    opacity: 0.5;
}
h5 {
    color: #f2f2f2;
    font-family: "patron", cursive;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    opacity: 0.2;
}
header {
    .header__colA {
        .header__logo {
            margin-top: 10%;
            opacity: 0.3;
        }
    }
    .header__colB {
        font-size: 0.8em;
        color: #f2f2f2;
        opacity: 0.4;
        text-align: right;
        margin-top: 5%;
    }
    .nav {
        font-family: "lemon", cursive;
        .nav-link {
            color: #f2f2f2;
            opacity: 0.4;
            font-size: 0.8em;
            letter-spacing: 0.1em;
            font-weight: bold;
        }
        .nav-link:hover {
            opacity: 1;
            transform: scale(1.1);
        }
    }
}
.desLogLink {
    margin-top: 5%;
    .desLogLink__colA {
        .desLogLink__title {
            font-size: 1.3em;
            text-align: center;
        }
        .pComent {
            font-size: 1em;
            margin-top: 5%;
            text-align: center;
        }
    }
    .desLogLink__colB {
        margin-top: 10%;
    }
    .linkToSite {
        margin-top: 8%;
        .pLinkP {
            .pLinkPA {
                font-size: 1.1em;
                opacity: 0.5;
            }
            .pLinkPA:hover {
                opacity: 1;
            }
        }
    }
}
.releaseTools {
    .desLogLink__colA {
        margin-top: 5%;
    }
    .desLogLink__colB {
        margin-top: 5%;
        .releaseTools__img {
            width: 40%;
            opacity: 0.4;
        }
    }
}
.carousel {
    margin-top: 10%;
    .ciP {
        width: 100%;
        height: 50vh;
    }
}
.misionVision {
    margin-top: 5%;
    .misionVision__colA {
        padding: 5%;
        margin-top: 8%;
        .misionVisionP {
            font-size: 1.3em;
        }
    }
    .misionVision__colB {
        margin-top: 5%;
        padding: 5%;
        .misionVisionP {
            font-size: 1.3em;
        }
    }
}

.footer {
    margin-top: 8%;
    .footerA {
        .footer__logo {
            width: 40%;
            opacity: 0.2;
            margin-bottom: 2%;
        }
    }
    .footerB{
        .footer_contact--img {
            width: 15%;
            margin-top: 2%;
            opacity: 0.5;
        }
        .footer_contact--img:hover {
            opacity: 1;
        }
    }.footerC{
        .nav-link {
            margin-top: 8%;
            color: #f2f2f2;
            opacity: 0.4;
            font-size: 0.6em;
            font-family: "patron", cursive;
        }
        .nav-link:hover {
            opacity: 1;
        }
    }
   
}

.line {
    color: #5d5c5c;
    background-color: #5d5c5c;
}
p {
    color: #f2f2f2;
}
.codeVSChar {
    color: #f2f2f2;
    opacity: 0.5;
    font-size: 0.8em;
}
.codeVSTag {
    color: #24accd;
    font-size: 0.8em;
}
.codeVSClass {
    color: #80e0fd;
    font-size: 0.8em;
}
.codeVSQoutes {
    color: #ff7f00;
    font-size: 1em;
}
.pComent {
    color: #40a529;
}

a {
    color: #f2f2f2;
    text-decoration: none;
    font-weight: bolder;
}

@import "mediaQuery";
